.user-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-card {
  background-color: #5d5d63;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #f5f5f5;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
.user-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.separator {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #444;
  width: 100%;
}
