body{
  background-color: aliceblue;
}
.app-container {
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 100px 20px 60px;
   background-color: aliceblue;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .app-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .app-container {
    grid-template-columns: 1fr;
  }
}
